/* Add here all your CSS customizations */

/*@font-face {
    font-family: Montserrat Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}*/
@font-face {
  font-family: Montserrat Regular;
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular/Montserrat-Regular.otf')  format('opentype'),
	     url('Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'), url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: Helvetica;
    src: url('../fonts/HelveticaNeue.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: HelveticaNeue;
    src: url('../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue/HelveticaNeue.otf')  format('opentype'),
	     url('../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'), url('../fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'helveticaneuebold';
    src: url('../fonts/halventicaneue_bold/helveticaneue-bold-webfont.eot');
    src: url('../fonts/halventicaneue_bold/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/halventicaneue_bold/helveticaneue-bold-webfont.woff') format('woff'),
         url('../fonts/halventicaneue_bold/helveticaneue-bold-webfont.ttf') format('truetype'),
         url('../fonts/halventicaneue_bold/helveticaneue-bold-webfont.svg#helveticaneuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Avenir-Roman';
  src: url('../fonts/Avenir-Roman/Avenir-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir-Roman/Avenir-Roman.otf')  format('opentype'),
	     url('../fonts/Avenir-Roman/Avenir-Roman.woff') format('woff'), url('../fonts/Avenir-Roman/Avenir-Roman.ttf')  format('truetype'), url('../fonts/Avenir-Roman/Avenir-Roman.svg#Avenir-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

.white{
    color:#fff;font-family: 'Avenir-Roman';font-size:80px;
}
.whitebox{
    color: #fff;
    font-size: 24px;
    border-radius: 8px;
    border:2px solid #fff; 
   padding: 15px 55px 15px 55px;font-family: 'Avenir-Roman';
}
nav {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e50d91+0,e50d91+77,fe5418+100 */

	background: #e50d91; /* Old browsers */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1MGQ5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2U1MGQ5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZTU0MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	
	background: -moz-linear-gradient(left,  #e50d91 0%, #e50d91 77%, #fe5418 100%); */ /* FF3.6+ */
	
	/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e50d91), color-stop(77%,#e50d91), color-stop(100%,#fe5418));*/ /* Chrome,Safari4+ */
	
	/*background: -webkit-linear-gradient(left,  #e50d91 0%,#e50d91 77%,#fe5418 100%);*/ /* Chrome10+,Safari5.1+ */
	
	/*background: -o-linear-gradient(left,  #e50d91 0%,#e50d91 77%,#fe5418 100%)*/ /* Opera 11.10+ */
	
	/*background: -ms-linear-gradient(left,  #e50d91 0%,#e50d91 77%,#fe5418 100%);*/ /* IE10+ */
	
	/*background: linear-gradient(to right,  #e50d91 0%,#e50d91 77%,#fe5418 100%);*/ /* W3C */
	
	background-color:#e50d91 !important;
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50d91', endColorstr='#fe5418',GradientType=1 ); /* IE6-8 */
	
	border:0 !important;
	
	border-radius:0px !important;
	
	margin:0 !important;
}

.navbar-collapse {
	padding:0px !important;
}

nav ul li a {
	color: #fff !important;
	font-weight:normal !important;
}
.home nav  ul > li{
    padding-right: 60px;}
.home ul.dropdown-menu li{    padding-right: 12px;}	
.home nav ul li a {font-size:18px; font-family: 'Avenir-Roman';    padding-top: 8px;
    padding-bottom: 8px;    padding-left: 5px;
    padding-right: 30px;}
.home ul.dropdown-menu li a{font-size:16px; font-family: 'Avenir-Roman';}
nav ul li a:hover {
	color: #fff !important;
	font-weight:normal !important;
        border-bottom: 2px solid #fff;
}

nav ul li.active a {
	background:none !important;
	border-bottom: 2px solid #fff;
}



.navbar-nav > li > .dropdown-menu {
	background: none !important;
	border: 0px !important;
	width: 760px !important;
	box-shadow:none !important;
}

.navbar-nav > li > .dropdown-menu li {
	display: inline;
	float: left;
}

.navbar-nav > li > .dropdown-menu li a {
	border:0px !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	border-color: #fff !important;
}

.video-container h2 {
	color:#fff;
	float:left;
	position:absolute;
	bottom: 20px;
	left:20px;
	font-size: 28px;
	margin:0 !important;
    font-family: 'Avenir-Roman';
}

.video-container h2 span {
	/*display:block;*/
	clear:both;
	font-size:21px;
}

.video-container h2:after {
	display:block;
	border-bottom: 4px solid #fff;
	height:5px;
	color:#fff;
	width: 50px;
}

.video-container h3 {
	color:#fff;
	float:right;
	position:absolute;
	bottom:20px;
	left:20px;
	font-size: 2rem;
	margin:0px !important;
}

.frontpage-video-section .video-container h3 {
	color:#fff;
	float:right;
	position:absolute;
	bottom:20px;
	left:auto;
	right:20px !important;
	margin:0px !important;
	font-family: HelveticaNeue;
	font-size:28px;
	text-transform:capitalize;
}
.col-lg-7 .video-container {
	margin-bottom:38px;
}

.col-lg-7 .video-container:last-child, .col-lg-5 .video-container:last-child{
	margin-bottom:0px !important;
}

.col-lg-5 .video-container {
	margin-bottom:13.5px; 
}

/* front page font overlay design  */

.video-container {
	border-bottom:5px solid #fe5418;
	position:relative;
	margin-bottom:30px;
}

#fb-root {
  display: none;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
.facebook_likebox{width: 29.5%;padding-right: 8px;}
.twitter_box{padding-left: 0;
    padding-right: 0;
    width: 36.5%;/*border: 1px solid #d9d9d9;*/}
.twitter_box iframe{width:100% !important; border: 1px solid #d9d9d9 !important;}	
.sub-footer .newsletter{float:right;}
/*
.video-container:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.video-container:hover:after {
	 border-bottom: 120px solid #fe5418;
          opacity:0.6;
}
*/
.orange
{
    border-bottom:5px solid #fe5418;
    display: inline-block;
	position: relative;
}

.orange:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.orange:hover:before {
	 border-bottom: 120px solid #fe5418;
          opacity:0.6;
}
.orange1
{
    border-bottom:5px solid #fe5418;
    /*display: inline-block;*/
	position: relative;
}

.orange1:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.orange1:hover:before {
	 border-bottom: 75px solid #fe5418;
          opacity:0.6;
}
.green{
    border-bottom:5px solid  #89FFDE;
	/*display: inline-block;*/
	position: relative;
}

.green:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.green:hover:before {
	 border-bottom: 70px solid #89FFDE;
          opacity:0.6;
}
.pink{
    border-bottom:5px solid #e50d91;
    /*display: inline-block;*/
	position: relative;
}

.pink:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.pink:hover:before {
	 border-bottom: 70px solid #e50d91;
          /*opacity:0.6;*/
}
.sea{
    border-bottom:5px solid #00FFFF;
    /*display: inline-block;*/
	position: relative;
      
}
.sea:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.sea:hover:before {
	 border-bottom: 70px solid #00FFFF;
          opacity:0.6;
}
.yellow{
    border-bottom:5px solid #FFFF78;
    /*display: inline-block;*/
	position: relative;
}

.yellow:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.yellow:hover:before {
	 border-bottom: 70px solid #FFFF78;
          opacity:0.6;
}
.whitebg{
    background: #fff;
    background-color: #fff;
}
ul {
	list-style:none;
}
footer ul li {
	float:left;
	margin-right:30px;
}

footer ul li:last-child {
	margin:0;
}

footer .copyright {
	text-align:right;
        color:#dfdfdf;
}

footer .copyright ul {
	float: right;
        color:#dfdfdf;
}
footer .copyright ul li{
	float:left;
	margin-right: 5px;
}
footer .copyright ul li:after {
	content:'|';
	padding-left:5px;
    color:#000000;
}

footer .copyright ul li:last-child:after {
	padding-left:0px;
	content:'';
}

footer .copyright ul li a {
	color:#000 !important;
	    font-size: 16px;
}
.sub-footer {
	padding:30px 0;
}

.sub-footer h5 {
	font-size: 2rem;
}

.sub-footer .newsletter {
	border: 1px solid #d9d9d9;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align:center;
        /*width:350px;margin-left:2%;*/
}

.sub-footer .newsletter h5 {
	text-transform:uppercase;
	font-size: 3rem;
}

.sub-footer .newsletter form {
	margin:25px 0;
}

.sub-footer .newsletter form input[type=text] {
	background:#ededed url(../img/icon-newsletter.png) no-repeat 95%;
	text-align:left;
	padding:1rem 5rem 1rem 1rem;
	width: 100%;
        margin-left:10%;
}

.sub-footer a {
	font-size: 2.5rem;
}

/* underline from left to right */

.sliding-u-l-r {
    text-decoration: none;
    display: inline-block;
    //width: 50px;
    transition: 0.5s ease;
    //white-space: nowrap;
    //height: 25px;
}
.sliding-u-l-r:after{
	content: " ";
	border-bottom: 6px solid white;
}
.sliding-u-l-r:hover {
   // border-bottom: 6px solid white;
   // width: 50px;
    //padding-top:-5px;
}


.logotext{
    color:#777;
    font-size:22px;
    margin-left:-15%;
    padding-top:5%;
	
}
.blacksearch1{
    color:#ccc;
   // background: #000;
    border:0px solid #000;
}


.searchbox1{
	display: none;
    background-color:transparent;
    border:none;
	padding:10px;
	color:#ffffff;
    border-bottom:2px solid gray;
    width: 169px;
	outline: #ffffff auto 5px;
}

.news{
    font-size:25px;padding-top:40px; color:#000;padding-bottom:20px;
}

.news2{
    color:gray; font-size: 13px;padding-top:14px;
}
.video-container  .author-name{
	font-size: 15px;
	display:none;font-family: 'Avenir-Roman';
}
.video-container  h3.views-home{
	color:#fff;
	float:right;
	position:absolute;
	bottom:30px;
	right:20px;
	font-size: 2rem;
	margin:0px !important;
	text-align: right;
	display:none;
	text-transform:capitalize;font-family: 'Avenir-Roman';
}
.orange:hover .author-name, .orange:hover h3.views-home{
	display:block;
}
.orange:hover .video-title{
	bottom: 14px;
	line-height: 24px;
}
.orange1:hover .author-name, .orange1:hover h3.views-home{
	display:block;
}
.orange1:hover .video-title{
	bottom: 14px;
	line-height: 24px;
}
.green:hover .author-name, .green:hover h3.views-home{
	display:block;
}
.green:hover  .video-title{
	bottom: 14px;
	line-height: 24px;
}
.pink:hover .author-name, .pink:hover h3.views-home{
	display:block;
}
.pink:hover .video-title{
	bottom: 4px;
	line-height: 24px;
	font-family: 'Avenir-Roman';
}
.sea:hover .author-name, .sea:hover h3.views-home{
	display:block;
}
.sea:hover .video-title{
	bottom: 14px;
	line-height: 24px;
}
.yellow:hover .author-name, .yellow:hover h3.views-home{
	display:block;
}
.yellow:hover .video-title{
	bottom: 14px;
	line-height: 24px;
}
.author-title, .views{
	display: none;
}
.mejs-overlay:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: transparent;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.mejs-overlay:hover:before {
	 border-bottom: 100px solid #fe5418;
          opacity:0.6;
}
.copy{
	font-size: 13px;
    padding-bottom: 18px;
}
.top-video:hover h2{bottom:4px; line-height:24px;}
.top-video:hover h3{display:block; font-family: 'Avenir-Roman';}
.pink .video-title{font-family: 'Avenir-Roman'; font-size:19px;}
.top-video:hover .author-title{display:block; line-height:29px;}
.top-video{width:100%;}
.frontpage-video-img img{width:100%;}
.frontpage-video-img:hover .video-play-icon{position:absolute; top:50%; left:50%; background:url(../img/newbigplay.png) no-repeat;
	width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;}
li:hover ul.dropdown-menu{display:block;}
.border{border-bottom:1px solid #222222;}
.navbar-default{min-height:38px;}
.orange:hover .video-play-icon-small{position:absolute; top:50%; left:50%; background:url(../img/newbigplay.png) no-repeat;
	width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;}
.orange1:hover .video-play-icon-small{position:absolute; top:50%; left:50%; background:url(../img/newbigplay.png) no-repeat;
	width: 75px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background-size: 100%;}
.green:hover .video-play-icon-small{position:absolute; top:50%; left:50%; background:url(../img/newbigplay.png) no-repeat;
	width: 75px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background-size: 100%;}
.pink:hover .video-play-icon-small{position:absolute; top:50%; left:56%; background:url(../img/newbigplay.png) no-repeat;
	width: 60px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background-size: 100%;}
.sea:hover .video-play-icon-small{position:absolute; top:50%; left:50%; background:url(../img/newbigplay.png) no-repeat;
	width: 60px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background-size: 100%;}
.yellow:hover .video-play-icon-small{position:absolute; top:50%; left:50%; background:url(../img/newbigplay.png) no-repeat;
	width: 60px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background-size: 100%;
}
.view-allvideos{margin-top:20px;}
.view-allvideos a{font-size:23px; color:#ffffff; font-family: 'Avenir-Roman'; }
.pink:hover h3.views-home{font-family: 'Avenir-Roman';}


@media only screen and (min-width: 992px) and (max-width: 1199px){/*.sub-footer .newsletter{clear:both;}*/



}

@media only screen and (min-width: 768px) and (max-width: 991px){/*.sub-footer .newsletter{clear:both;}*/
.facebook_likebox{width: 50%;}
.twitter_box{width: 50%;}
}
@media only screen and (max-width: 768px) and (min-width: 481px){
	.facebook_likebox{width: 50%;float:left;}
.twitter_box{width: 48%;float:left;}
.sub-footer .newsletter{clear:both;float:left;}
}
.search .close{display:none;}
.search .close img{position: absolute; top: 10px; bottom: 10px; right: -38px; opacity: 1; z-index: 5;}
.search .submitBtn{ position:absolute; left: 184px; top:10px;}
@media only screen and (min-width: 1000px) and (max-width: 1200px){
	.searchbox1{
		position: relative;
		left: -104px;
	}
	.search .submitBtn{
		left: 80px;
		top:80 px;
	}
	.search .close img{
		right: 66px;
	}
}
@media only screen and (min-width: 1201px) and (max-width: 1350px){
	.searchbox1{
		position: relative;
		left: -54px;
	}	
	.search .submitBtn{
		left: 130px;
	}
	.search .close img{
		right: 16px;
	}
}
.video-container{
	background: url(../assets/gridd.png);
    opacity: 0.7;
}
@media only screen and (max-width: 480px){
	.view-allvideos a{
		font-size: 16px;
	}
	footer .copyright{
		text-align: center !important;
	}
	footer .copyright ul li {
		margin-right: 0px !important;
	}
	footer .copyright ul li a{
		font-size: 10px;
	}
	footer .copyright ul li:after{
		padding-left: 3px;
		padding-right: 3px;
	}
	
	.facebook_likebox{width: 100%;float:left;padding-right:15px;}
.twitter_box{width: 100%;float:left;padding-left:15px;padding-right:15px;}
.sub-footer .newsletter{clear:both;float:left;width: 100%;}
.video-section-right .video-container:first-child {
    margin-top: 13.5px;
}
.video-container {
    background: none;
    opacity: 1;
	clear: both;
}
.pink:hover:before {
	border-bottom:none;
}
.frontpage-video-img .video-play-icon, .pink .video-play-icon-small {
    position: absolute;
    top: 60%;
    left: 55%;
    background: url(../img/newbigplay.png) no-repeat;
    width: 60px;
    height: 60px;
    margin: -50px 0 0 -50px;
	background-size: 100%;
}
.frontpage-video-img:hover .video-play-icon {
    background: none;
}
.top-video:hover h2{ bottom: 0px; }
.video-container h2 {
	position: relative;
    margin: 10px 0 !important;
    bottom: 0;
    left: 10px;
    line-height: 24px;	
}
.pink:hover .author-name, .pink:hover h3.views-home, .top-video:hover h2, .pink:hover .video-title { bottom: 0px; }
.video-container h3.views-home {
	margin: 10px 0 !important;
	position: relative;
	display: none;
	bottom: 0;
	left: 0;
	font-size:1.2rem;
}
.video-container  .author-name{
	font-size: 15px;
	display:block;
}
.pink:hover .video-play-icon-small {
    background: none;
}
}
@media only screen and (max-width: 768px){
	footer .copyright ul li {
		margin-right: 20px;
	}
	.sub-footer .newsletter{
		border: none;
	}
	.sub-footer .newsletter .border-div{
		border: 1px solid #d9d9d9;
		padding:0 10px;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
	.frontpage-video-section .video-container.top-video.pink{
		margin-bottom: 70px;
	}
	.pink:hover:before {
		border-bottom:none;
	}
	.frontpage-video-img:hover .video-play-icon {
		background: none;
	}
	.top-video:hover h2{ bottom: 0px; }
	.video-container h2 {
		position: relative;
		margin: 10px 0 !important;
		bottom: 0;
		left: 10px;
		line-height: 24px;	
	}
	.pink:hover .author-name, .pink:hover h3.views-home, .top-video:hover h2, .pink:hover .video-title { bottom: 0px; }
	.video-container h3.views-home {
		margin: 10px 0 !important;
		position: relative;
		display: none;
		bottom: 0;
		left: 0;
		font-size:1.2rem;
	}
	.video-container  .author-name{
		font-size: 15px;
		display:block;
	}
	.pink:hover .video-play-icon-small {
		background: none;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
	.frontpage-video-section .video-container.top-video.pink{
		margin-bottom: 70px;
	}
	.sub-footer .newsletter{
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	.pink:hover:before {
		border-bottom:none;
	}
	.frontpage-video-img:hover .video-play-icon {
		background: none;
	}
	.top-video:hover h2{ bottom: 0px; }
	.video-container h2 {
		position: relative;
		margin: 10px 0 !important;
		bottom: 0;
		left: 10px;
		line-height: 24px;	
	}
	.pink:hover .author-name, .pink:hover h3.views-home, .top-video:hover h2, .pink:hover .video-title { bottom: 0px; }
	.video-container h3.views-home {
		margin: 10px 0 !important;
		position: relative;
		display: none;
		bottom: 0;
		left: 0;
		font-size:1.2rem;
	}
	.video-container  .author-name{
		font-size: 15px;
		display:block;
	}
	.pink:hover .video-play-icon-small {
		background: none;
	}
}
#menu-homemenu li:last-child a{border-bottom:1px solid #2b2b2b;}
@media only screen and (max-width: 341px){
	footer ul.social-icons-footer li{
			    margin-right: 15px;
		}
	}
.pink:hover h3.views-home{
	display: none;
}